<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yto.zwb.book.mapper.BookDao" >
	<sql id="colum_list">
		id,name,writer,introduction
	</sql>
	
	<insert id="insert" parameterType="yto.zwb.book.entity.book">
		INSERT INTO book(name,writer,introduction) 
		VALUES (
		#{name},
		#{writer},
		#{introduction}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE from book 
		WHERE id = #{id}
	</delete>
	
	<!-- 根据指定id查询，多用于修改操作的前置查询 -->
	<select id="getBookById" resultType="yto.zwb.book.entity.book" parameterType="java.lang.Integer">
		SELECT  
		<include refid="colum_list"/> 
		FROM book 
		WHERE id = #{id} 
	</select> 
	<!-- 根据指定id查询，多用于查询操作 -->
	<select id="findBook" resultType="yto.zwb.book.entity.book" >
		SELECT  *
		FROM book 
		WHERE id = #{id} OR 
		name = #{name} OR 
		writer=#{writer} OR 
		introduction = #{introduction} 
	</select> 
                     
	<update id="update"  parameterType="yto.zwb.book.entity.book">
		UPDATE book 
		SET name=#{name},writer=#{writer},introduction=#{introduction} 
		WHERE
		id = #{id}
	</update> 
	
	
	<!-- 查询全部 -->
	<select id="getBookList" resultType="yto.zwb.book.entity.book">
  		SELECT * FROM book 
  	</select>
</mapper>

	

