<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yto.zwb.book.mapper.LoginDao" >



	<select id="toLogin" resultType="yto.zwb.book.entity.User">
  	 SELECT * FROM user_admin
  	 WHERE  name=#{userName} and password=#{password}
  	</select>
  	<insert id="toRegister" parameterType="yto.zwb.book.entity.User">
  	INSERT INTO user_admin(name,password) 
		VALUES (#{userName},#{password})
  	</insert>
  	
  	<select id="findUserName" resultType="yto.zwb.book.entity.User">
  	SELECT * FROM user_admin
  	WHERE name=#{userName}
  	</select>
  	



  	
 
</mapper>